@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .header {
    position: relative; 
    z-index: 0;
    padding: 43px 24px 0 20px;
    display: flex;
    flex-direction: column;
  }
  
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-color-1);
    filter: blur(250px);
    opacity: 0.15; 
    z-index: -1; 
  }
  
  .div__bar {
    /* background: palegoldenrod; */
    width: 352px;
    height: 34px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 286px;
  }
  .div__bar img:first-child{
    width: 32px;
    height: 32px;
  }
  .div__bar img:last-child{
    width: 20px;
    height: 20px;
  }
  .header h1{
    /* background: wheat; */
    width: 265px;
    height: 72px;
    margin-bottom: 20px;
    color: var(--font-color-1);
    font-family: "Inter-SemiBold";
    font-size: 30px;
  }
  .header h1 strong{
    color: var(--font-color-2);
  }
 
  .nav {
    width: 346px;
    height: 85px;
    /* background: blue; */
    display: flex;
    flex-direction: column;
  }
  .form__search {
    width: 344px;
    height: 41px;
    /* background: green; */
    display: flex;
    gap: 148px;
    margin-bottom: 16px;
    border-radius: 10px;

    background: var(--color-1);
  }
  .div__search {
    width: 157px;
    height: 17px;
    /* background: yellow; */
    margin: 12px 0 12px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .div__search img{
    width: 17px;
    height: 17px;
    margin: 1px 0;
  }
  .div__search input{
    width: 82px;
    height: 15px;
    border: none;
    outline: none;
    margin: 1px 0 1px 0;
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--font-color-1);
  }
  .form__search img{
    width: 17px;
    height: 17px;
    align-self: center;
  }

  .ul__bar{
    width: 391px;
    height: 28px;
    /* background: rebeccapurple; */
    display: flex;
    overflow-x: scroll;
    gap: 12px;
  }
  .ul__bar li{
    list-style: none;
    /* background: turquoise; */
    align-content: center;
    text-align: center;
    flex-shrink: 0;
  }
  .ul__bar li:nth-child(1){
    width: 112px;
    height: 28px;
    background: var(--color-2);
    border-radius: 8px;
  }
  .ul__bar li:nth-child(2){
    width: 76px;
    height: 28px;
    background: var(--color-3);
    border-radius: 8px;
  }
  .ul__bar li:nth-child(3){
    width: 104px;
    height: 28px;
    background: var(--color-4);
    border-radius: 8px;
  }
  .ul__bar li:nth-child(4){
    width: 63px;
    height: 28px;
    background: var(--color-5);
    border-radius: 8px;
  }
  .ul__bar li a{
    font-family: "Inter-Regular";
    text-decoration: none;
    color: var(--font-color-1);
    font-size: 12px;
  }

  .main {
  }
  .div__trending {
  }
  .div__trend {
  }
  .div__carousel {
  }
  .div__container {
  }
  .div__info {
  }
  .div__dates {
  }
  .div__price {
  }
  
