:root{
    --color-1: #FFFFFF;
    --color-2: #EDE9FF;
    --color-3: #FFF5D7;
    --color-4: #FFECEC;
    --color-5: #E4FFEA;
    --color-6: rgba(45, 38, 75, 0.5);
    --color-7: #761CBC;
    --color-8: rgba(45, 38, 75, 0.3);
    --font-color-1: #000000;
    --font-color-2: #761CBC;
    --font-color-3: #333333;
    --font-color-4: #FFFFFF;
    --font-color-5: #EC441E;
    --font-color-6: #706D6D;
    --font-color-7: #0092FC;
    --font-color-8: #5F5A5A;
    --background-color-1: linear-gradient(135deg, rgba(0, 237, 252, 1) 0%, rgba(34, 34, 126, 1) 33%, rgba(117, 31, 139, 1) 66%);
    --background-color-6: #2D264B 50%;
    --background-color-7: #FFFFFF 20%;
    --background-color-8: linear-gradient(27deg, rgba(145,181,253,1) 0%, rgba(240,221,255,1) 100%);
    --background-color-9: linear-gradient(27deg, rgba(103,94,94,1) 0%, rgba(205,187,187,1) 100%);
    
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url(../storage/font/Inter/Inter_18pt-SemiBold.ttf);
}
@font-face {
    font-family: "Inter-Regular";
    src: url(../storage/font/Inter/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "Inter-Medium";
    src: url(../storage/font/Inter/Inter_18pt-Medium.ttf);
}
@font-face {
    font-family: "DM-Sans-Regular";
    src: url(../storage/font/DM__Sans/DMSans-Regular.ttf);
}
@font-face {
    font-family: "DM-Sans-Medium";
    src: url(../storage/font/DM__Sans/DMSans-Medium.ttf);
}