<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles2.css">
</head>
<body>
    <header class="header">
        <div class="div__bar">
            <div class="div__arrow">
                <a href="../index.html">
                    <img src="../storage/img/Vector.svg">
                </a>
            </div>
            <div class="div__points">
                <a href="#">
                    <img src="../storage/img/points.svg">
                </a>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="div__target">
            <div class="div__dates">
                <h3>Coldplay <strong>: Music of the Spheres</strong></h3>
                <div class="div__dates-info">
                    <img src="../storage/img/location2.svg">
                    <span>Gelora Bung Karno Stadium..</span>
                </div>
                <div class="div__dates-info">
                    <img src="../storage/img/Calender2.svg">
                    <span>November 15 2023</span>
                </div>
            </div>
            <div class="div__participants">
                <div class="div__users">
                    <img src="../storage/img/Ellipse 1174.png">
                    <img src="../storage/img/Ellipse 1175.png">
                    <img src="../storage/img/Ellipse 1176.png">
                </div>
                <h3>50K+ Participants</h3>
            </div>
        </div>
        <div class="div__description">
            <h5>Description</h5>
            <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. <a href="#">Read More..</a></p>
        </div>

        <section class="section__location">
            <h3>Venue & Location</h3>
            <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12074.295623303763!2d-74.00594186209106!3d40.71277654329999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259ae52f6a801%3A0x72b404cf88c4a865!2sNew%20York!5e0!3m2!1ses-419!2sus!4v1645073312748!5m2!1ses-419!2sus"
        width="330" height="212" style="border:0;"></iframe>
        </section>

    </main>



    <footer class="footer">
        <div class="div__"></div>
    </footer>
</body>
</html>