<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles2.css">
</head>
<body>
    <header class="header">
        <div class="div__bar">
            <div class="div__arrow">
                <a href="../index.html">
                    <img src="../storage/img/Vector.svg">
                </a>
            </div>
            <div class="div__points">
                <a href="#">
                    <img src="../storage/img/points.svg">
                </a>
            </div>
        </div>
        <div class="div__target">
            <h3>Coldplay <strong>: Music of the Spheres</strong></h3>
            <div class="div__dates">
                <div class="div__dates-info">
                    <h3>Coldplay <strong>: Music of the Spheres</strong></h3>
                    <img src="storage/img/Location.svg">
                    <span>Gelora Bung Karno Stadium..</span>
                </div>
                <div class="div__dates-info">
                    <img src="storage/img/Calender 1.svg">
                    <span>November 15 2023</span>
                </div>
            </div>
            <div class="div__participants">
                <div class="div__users">
                    <img src="../storage/img/Ellipse 1174.png">
                    <img src="../storage/img/Ellipse 1175.png">
                    <img src="../storage/img/Ellipse 1174.png">
                </div>
                <h5>50K+ Participants</h5>
            </div>
        </div>
    </header>


</body>
</html>