<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles2.css">
</head>
<body>
    <header class="header">
        <div class="div__bar">
            <div class="div__arrow">
                <a href="../index.html">
                    <img src="../storage/img/Vector.svg">
                </a>
            </div>
            <div class="div__points">
                <a href="#">
                    <img src="../storage/img/points.svg">
                </a>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="div__target">
            <div class="div__dates">
                <h3>Coldplay <strong>: Music of the Spheres</strong></h3>
                <div class="div__dates-info">
                    <img src="../storage/img/location2.svg">
                    <span>Gelora Bung Karno Stadium..</span>
                </div>
                <div class="div__dates-info">
                    <img src="../storage/img/Calender2.svg">
                    <span>November 15 2023</span>
                </div>
            </div>
            <div class="div__participants">
                <div class="div__users">
                    <img src="../storage/img/Ellipse 1174.png">
                    <img src="../storage/img/Ellipse 1175.png">
                    <img src="../storage/img/Ellipse 1176.png">
                </div>
                <h5>50K+ Participants</h5>
            </div>
        </div>
        <div class="div__description">
            <h5>Description</h5>
            <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. <a href="#">Read More..</a></p>
        </div>

    </main>

</body>
</html>