<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="stylesheet" href="../css/styles3.css">
</head>
<body>
    <header class="header">
        <div class="div__bar">
            <div class="div__arrow">
                <a href="../views/details.html">
                    <img src="../storage/img/Vector.svg">
                </a>
            </div>
            <div class="div__points">
                <a href="#">
                    <img src="../storage/img/Vector.png">
                </a>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="div__container">


            <div class="div__ticket">
                <img src="../storage/img/Rectangle 4115.png">
                
                <div class="div__text">
                    <h2>Coldplay : Music of the Spheres</h2>
                    <span>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</span>
                </div>

                <div class="div__information">
                    <div class="div__info">
                        <div>
                            <h6>Name</h6>
                            <span>Indriyani Puspita</span>
                        </div>
                        <div>
                            <h6>Order Number</h6>
                            <span>CLD09738PL</span>
                        </div>
                    </div>
                    <div class="div__info"></div>
                    <div>
                        <h6>Date</h6>
                        <span>Nov 15 2023</span>
                    </div>
                    <div>
                        <h6>Time</h6>
                        <span>9:00 PM</span>
                    </div>
                    <div class="div__info">
                        <div>
                            <h6>Gate</h6>
                            <span>Yellow</span>
                        </div>
                        <div>
                            <h6>Seat</h6>
                            <span>West B</span>
                        </div>
                    </div>
                </div>
                <div class="div__box">
                    <div class="div__frame"></div>
                    <img src="../storage/img/Vector 188.png">
                    <div class="div__frame"></div>
                </div>
                <img src="../storage/img/image 1.png">
                <span>Scan your barcode at the entry gate.</span>

            </div>


        </div>
    </main>
</body>
</html>